.mat-form-field {
  .mat-form-field-flex {
    background: var(--box-bg-color);
  }
}

.mat-select-panel-wrap {
  .mat-select-panel {
    background-color: var(--box-bg-color);
  }
}

.mat-progress-spinner {
  margin: 0 auto;
}

.icon-input-prefix {
  margin: 0 16px
}
