@import "../../../../styles/settings/variables";

header { 
    background-color: $elements-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    box-shadow: $box-shadow;
}

h1 {
    font-size: 1.4rem;
    font-weight: 600;
}

.btn-theme-picker{
    background-color: unset;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    font-size: 0.875rem;
}