// body { 
    $text-color: hsl(200, 15%, 8%);
    $input-color: hsl(0, 0%, 52%);
    $background-color: hsl(0, 0%, 98%);
    $elements-color: hsl(0, 0%, 100%);

    $box-shadow: 0 0 1em 0.2em rgb(0 0 0 / 10%);
// }



body {
    &.dark-theme{
        $text-color: hsl(0, 0%, 100%);
        $input-color: hsl(0, 0%, 52%);
        $background-color: hsl(207, 26%, 17%);
        $elements-color: hsl(209, 23%, 22%);
    }
}