.countries-wrapper {
    padding: 2rem 3rem;
    background-color: var(--bg-color);
}

.countries-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
