@import "./../../../styles/settings/_configuration";

.countries-wrapper {
    padding: 2rem 3rem;
    background-color: var(--bg-color);
}

.countries-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

@media screen and (max-width: $tablet-min) {
    .countries-inputs {
      flex-direction: column;
      align-items: flex-start;
    }
}
