@import "../../../../styles/settings/variables";

.list {
    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    gap: 50px;
    display: grid;
    
    grid-template-columns: repeat(auto-fit, 240px);
    list-style-type: none;
}

.list-item {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 300px;
    border-radius: 6px;
    box-shadow: $box-shadow-bigger;
    overflow: hidden;

    a {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}

.img-wrapper {
    width: 100%;
    height: 140px;

    img {
        object-fit: cover;
        width: 100%;
        height: 140px;
    }
}

.country-name {
    font-size: 1rem;
    font-weight: 800;
    margin: 1rem;
}

.country-details {
    font-size: 0.875rem;
    margin: 1rem;
    list-style-type: none;

    li {
        margin: 0.3rem 0;
    }
}

.badge {
    margin-right: 0.2rem;
}