<div class="country-wrapper">
  <button class="btn" (click)="backClicked()">
    <mat-icon class="back-arrow">keyboard_backspace</mat-icon> Back
  </button>
  <div class="details-wrapper">
    <ng-container *ngIf="!spinnerVisible; else spinnerBlock">
      <picture class="img-wrapper">
        <img
          [src]="currentCountry.flags.png"
          alt="{{ currentCountry.name }} flag"
        />
      </picture>
      <div class="content-wrapper">
        <h3 class="country-title">{{ currentCountry.name.common }}</h3>
        <ul class="details-list">
          <li class="details-list-item">
            <span class="badge">Native name:</span>
              {{ currentCountry.name.nativeName?.rar?.official }}
            <!-- </pre> -->
          </li>
          <li class="details-list-item">
            <span class="badge">Population:</span>
            {{ currentCountry.population | number: "1.0":"en-US" }}
          </li>
          <li class="details-list-item">
            <span class="badge">Region:</span> {{ currentCountry.region }}
          </li>
          <li class="details-list-item">
            <span class="badge">Subregion:</span> {{ currentCountry.subregion }}
          </li>
          <li class="details-list-item">
            <span class="badge">Capital:</span> {{ currentCountry.capital }}
          </li>
          <li class="details-list-item">
            <span class="badge">Top level domain:</span>
            {{ currentCountry.topLevelDomain }}
          </li>
          <li class="details-list-item">
            <span class="badge">Currencies:</span>
            <ng-container
              *ngIf="currentCountry.currencies.length > 0; else noCurrencies"
            >
              <ng-container *ngFor="let currency of currentCountry.currencies">
                {{ currency }}</ng-container
              >
            </ng-container>
            <ng-template #noCurrencies> -</ng-template>
          </li>
          <li class="details-list-item">
            <span class="badge">Languages:</span>
            <ng-container
              *ngIf="currentCountry.languages.length > 0; else noLanguages"
            >
              <ng-container *ngFor="let lang of currentCountry.languages">
                {{ lang }}</ng-container
              >
            </ng-container>
            <ng-template #noLanguages> -</ng-template>
          </li>
        </ul>
        <div class="borders-wrapper">
          <p class="border-label badge">Border Countries:</p>
          <ul class="boxes-list">
            <ng-container
              *ngIf="currentCountry.borders.length > 0; else noBorders"
            >
              <li *ngFor="let border of currentCountry.borders">
                <a class="boxes-list-item">{{ border }}</a>
              </li>
            </ng-container>
            <ng-template #noBorders> -</ng-template>
          </ul>
        </div>
      </div>
    </ng-container>
    <ng-template #spinnerBlock>
      <mat-progress-spinner
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="value"
      >
      </mat-progress-spinner>
    </ng-template>
  </div>
</div>
