@import "../../../../styles/_common";

.country-wrapper {
  margin: 5rem 3rem;
}

.details-wrapper {
  @include flexCenterBoth;
  gap: 100px;
  margin-top: 4rem;
}

.img-wrapper {
  max-width: 500px;
  box-shadow: 0 0 0.4em 0.2em rgb(0 0 0 / 5%);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.country-title {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

.details-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 70px;
  grid-auto-flow: column;
  font-size: 0.875rem;
}

.details-list-item {
  margin-bottom: 0.5rem;
}

.borders-wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 4rem;
  font-size: 0.875rem;
}

.btn {
  @include flexCenterBoth;
  gap: 0.5rem;
}
