@import "./styles/settings/variables";
@import "./styles/settings/configuration";
@import "./styles/common";
@import "./styles/angular-material/angular-material";
@import "./styles//settings/_configuration";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BIZ UDMincho", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  color: var(--text-color);
}

.light-theme {
  --box-bg-color: hsl(0, 0%, 100%);
  --text-color: hsl(200, 15%, 8%);
  --input-color: hsl(0, 0%, 52%);
  --bg-color: hsl(0, 0%, 98%);
}

.dark-theme {
  --box-bg-color: hsl(209, 23%, 22%);
  --text-color: hsl(0, 0%, 100%);
  --input-color: hsl(0, 0%, 52%);
  --bg-color: hsl(207, 26%, 17%);
}

a {
  text-decoration: none;
  color: unset;
}

.badge {
  font-weight: 700;
}

.btn {
  background-color: var(--box-bg-color);
  color: var(--text-color);
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1.5rem;
  box-shadow: $box-shadow-bigger;
  cursor: pointer;
  transition: 0.2s ease-out;

  &:hover {
    color: var(--text-color);
    transform: translateY(-0.3rem);
    transition: 0.2s ease-in;
  }
}
