@import "../../../../styles/settings/variables";
@import "../../../../styles/settings/_configuration";

:host {
  display: flex;
  flex: 400px 0 1;
}

.countries-form,
.seacher-field,
mat-form-field-wrapper {
  min-width: 100%;
}

@media screen and (max-width: $tablet-min) {
  :host {
    flex: unset;
    width: 100%;
  }
}
